<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> <%= @user.first_name %>'s playlist </h1>
    <table>
        <th>
            <tr style="border-left: 2px solid black; border-top: 2px solid black;">Artist:</tr>
            <tr style="border-left: 2px solid black; border-top: 2px solid black;">Title:</tr>
            <tr style="border-left: 2px solid black; border-top: 2px solid black;">Times added:</tr>
        </th>
        <tbody>
            <% @songs.each do |song| %>
                <tr>
                    <td style="border-left: 2px solid black; border-top: 2px solid black;"><%= song.artist %></td>
                    <td style="border-left: 2px solid black; border-top: 2px solid black;"><%= song.title %></td>
                    <td style="border-left: 2px solid black; border-top: 2px solid black;"><%= song.adds.reject { |add| add.user_id != @user.id }.count %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>